
#stacks_in_4387_page10 {
	padding: 0px 0px 10px 0px;
}

#stacks_in_4380_page10 {
	padding: 0px 0px 20px 0px;
}

#stacks_in_850_page10 {
	margin: 10px 0px 0px 0px;
}

#stacks_in_560_page10 {
	background-color: rgba(230, 230, 230, 1.00);
	margin: 30px 0px 0px 0px;
	padding: 10px 10px 10px 10px;
}

#stacks_in_379_page10 {
	margin:  9px;
	padding: 10px 0px 0px 0px;
}
