---
layout: default
title: Shipley Film Society
cover: 'assets/images/smoke.jpg'
image-credit: Smoke
class: 'home-template'
navigation: True
logo: 'assets/images/favicon_large.png'
current: home
film: test
---
<!-- < default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header  -->
<header class="main-header {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">Our Next Film</h1>

{% assign film = site.data.films[page.film] %}
            <h1 class="page-title">{{ film.name }}</h1>
            <h2 class="page-description">{{ film.description }}</h2>
            <h2 class="page-description">{{ film.date | date: "%A %d %B %Y" }}</h2>
            <h2 class="page-description">Doors: {{ film.doors }}</h2>
            <h2 class="page-description">Film Starts: {{ film.start }}</h2>
            <h2 class="page-description">£{{ film.price }} / £{{ film.discounted }} (unwaged)</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
    {% if page.image-credit %}{% include image-credit.html %}{% endif %}
</header>

<!-- The main content area on the homepage -->
<main id="content" class="content" role="main" markdown="1">
    {% include main.md %}

    <!-- The tag below includes the post loop - partials/loop.hbs -->

    {% include loop.html %}

</main>
