<div class="footer-title">
    <h2>{{ site.name }}</h2>
    <div class="strapline">{{ site.tagline }}</div>
</div>
<div class="row">
    <div class="column">

        <h3>Venue</h3>
        <p class="footer">All films are shown at the Kirkgate Centre in Shipley unless stated otherwise. The Kirkgate Centre is situated directly opposite Shipley Town Hall:</p>
        <p>Kirkgate Centre <br/>
        39a Kirkgate <br/>
        Shipley <br/>
        BD18 3EH</p>
    </div>

    <div class="column">
        <h3/>Bradford Metropolitan Foodbank</h3>
        <p class="footer">We ask everyone to bring a non-perishable food item for those struggling to feed themselves or their family.
        We look forward to the day when this is no longer necessary.</p>
    </div>

    <div class="column">
        <h3/>Join our email list</h3>
        <p class="footer">Receive reminders about upcoming films and special events such as family film shows and mini-seasons. You can join by adding your email address here:</p>
        
        {% include mailchimp.html %}
    
        <div class="icons">
        <ul>
            <li><a href="https://twitter.com/shipleyfilm" title="Find us on Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/shipleyfilm" title="Find us on Facebook"><i class="fa fa-facebook"></i></a></li> 
            <li><a href="https://www.google.co.uk/maps/place/Kirkgate+Centre/@53.8339731,-1.7811685,17z/data=!4m2!3m1!1s0x0000000000000000:0xca1123ec9aa18c59"><i class="fa fa-map-marker" title="Find us on Google Maps"></i> </a></li>  
        </ul>
        </div>   
    </div>
</div>