<div class="footer-title">
    <h2>{{ site.name }}</h2>
    <div class="strapline">{{ site.tagline }}</div>
</div>
<div class="row">
<div class="column">
{% capture venue %}{% include venue.md %}{% endcapture %}
{{ venue | markdownify }}
</div>

<div class="column">
{% capture foodbank %}{% include foodbank.md %}{% endcapture %}
{{ foodbank | markdownify }}
{% capture get-involved %}{% include get-involved.md %}{% endcapture %}
{{ get-involved | markdownify }}
</div>

    <div class="column">
        <h3/>Join our email list</h3>
        <p class="footer">Receive reminders about upcoming films and special events such as family film shows and mini-seasons. You can join by adding your email address here:</p>

        {% include mailchimp.html %}

        <div class="icons">
        <ul>
            <li><a href="https://twitter.com/shipleyfilm" title="Find us on Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://facebook.com/shipleyfilm" title="Find us on Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://www.google.co.uk/maps/place/Kirkgate+Centre/@53.8339731,-1.7811685,17z/data=!4m2!3m1!1s0x0000000000000000:0xca1123ec9aa18c59"><i class="fa fa-map-marker" title="Find us on Google Maps"></i> </a></li>
        </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="copyright">
        All content &copy; Shipley Film Society except for content in the public domain and film images that we use to advertise films we pay a licence to show. <a href="{{ '/privacy' | relative_url }}">Privacy & Terms</a>. Site by <a href="https://www.cooperativeit.co.uk/">Cooperative IT</a>.   
    </div>
</div>
