 <div class="topnav">
  <div class="identity">
    {% if site.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ site.logo }}" alt="Blog Logo" /></a>{% endif %}
    {% if site.name %}
        <h2 class="blog-logo"><a class="site-name" href="{{ site.baseurl }}">{{ site.name }}</a></h2> 
    {% endif %} 
  </div>
  <div class="topnav-right">
    <div class="menu-items" id="myTopnav">
      <a href="/">Home</a>
      <a href="{{ '/about' | relative_url }}">About</a>
      <a href="{{ '/films' | relative_url }}">Films</a>
      <a href="{{ '/contact' | relative_url }}">Contact</a>

      <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

 </div> 