.com_joeworkman_stacks_link_stack a{display:block;text-decoration:none!important;padding:0;margin:0}

#stacks_in_0_page0 {
	background-color: rgba(230, 230, 230, 1.00);
}

#stacks_in_7829_page0 {
	margin:  9px;
}

#stacks_in_8166_page0 {
	margin: 6px 9px 9px 9px;
}

#stacks_in_8162_page0 {
	margin: 0px 9px 9px 9px;
}

#stacks_in_7801_page0 {
	margin:  9px;
}

#stacks_in_568_page0 {
	background-color: rgba(230, 230, 230, 1.00);
	margin: 10px 0px 0px 0px;
	padding: 0px 10px 10px 10px;
}

#stacks_in_451_page0 {
	margin:  9px;
}
